* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.container-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-login {
    background: #2b2b2b;
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.caixa-login h1 {
    text-align: center;
    margin-bottom: 30px;
    color: yellow;
}

.grupo-input {
    margin-bottom: 20px;
}

.grupo-input label {
    display: block;
    margin-bottom: 8px;
    color: #d1d1d1;
}

.grupo-input input {
    width: 100%;
    padding: 12px;
    border: 2px solid #555;
    border-radius: 10px;
    outline: none;
    transition: 0.3s;
    background: #1a1a1a;
    color: white;
}

.grupo-input input:focus {
    border-color: #facc15;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #facc15;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    background: #1a1a1a;
    color: black;
}

button:hover {
    background: #eab308;
}

#mensagem {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}